<div class="modalHeader" style="border-bottom: solid 1px #e0e0e0">
  <div class="editRowModal">
    <div class="modalHeader clearfix">
      <div class="modal-about">
        <div class="font-weight-bold p-t-5 p-l-10 font-17 col-teal">
            <h4>
                <strong> Ajout d'un client</strong>
            </h4>
         </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="body">
                <form class="register-form m-4" [formGroup]="formClient">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline" >
                          <mat-label>nom client </mat-label>
                          <input matInput formControlName="nom">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline" >
                        <mat-label>prénoms client </mat-label>
                        <input matInput formControlName="prenoms">
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline" >
                        <mat-label>Nationnalité </mat-label>
                        <input matInput formControlName="nationnalite">
                      </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width" appearance="outline" >
                        <mat-label>lieuxDeResidence </mat-label>
                        <input matInput formControlName="lieuxDeResidence">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="saveClient()">Ajouter Client</button>

                </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>
