<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/client/list-client">
              <span data-feather="file"></span>
              Gestion Client
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Gestion Compte Client
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Liste Client</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addNewClient()">Ajouter Client</button>
          </div>
        </div>

      </div>
    </main>
  </div>
  <div class="container">

    <main class="row">
      <div class="col-md-10">
        <div class="table-responsive ml-4">
          <table #table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="prenoms">
              <th mat-header-cell *matHeaderCellDef>Prénoms</th>
              <td mat-cell *matCellDef="let element">{{ element.prenoms }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="lieuxDeResidence">
              <th mat-header-cell *matHeaderCellDef>Lieux de résidence</th>
              <td mat-cell *matCellDef="let element">
                {{ element.lieuxDeResidence }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="nationnalite">
              <th mat-header-cell *matHeaderCellDef>Nationnalité</th>
              <td mat-cell *matCellDef="let element">{{ element.nationnalite }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-icon-button
                >
                  <mat-icon aria-label="Edit" class="col-teal"  >edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="accent">
                  <mat-icon
                    aria-label="Edit"
                    class="col-teal" (click)= "editClient(element)">remove_red_eye</mat-icon
                  >
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>


